@model IEnumerable<vapor.Models.Genre>

@{
    ViewData["Title"] = "Index";
}


@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>
}
<div class="row profile-container">
    @foreach (var item in Model)
    {




        <div class="profile-card">
            <div class="profile-card">
                <h4><b>@item.name</b></h4>
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                }
            </div>
        </div>
    }
</div>
