.profile-card {
    background-color: #172734;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    column-count: 1;
}

.profile-card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.profile-container {
    display: grid;
    padding: 2px 16px;
    grid-template-columns: repeat(3, 1fr);
}

.profile-img {
    border-radius: 5px 5px 0 0;
}
