@*@model IEnumerable<vapor.Models.Developer>*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Avtar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts{ 
    <script src="~/js/Developer/Index.js"></script>
    
    <script type="text/html" id="developer_template">
        <tr>
            <td>
                {name}
            </td>
            <td>
                {image}
            </td>
            <td>
                <a href="/Articles/Edit/{id}">Edit</a> |
                <a href="/Articles/Details/{id}">Details</a> |
                <a href="/Articles/Delete/{id}">Delete</a>
            </td>
        </tr>
    </script>
}