@model vapor.Models.Game

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Game</h4>
<hr />

<form id="game-form" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="name" class="control-label"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="description" class="control-label"></label>
        <input asp-for="description" class="form-control" />
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="price" class="control-label"></label>
        <input asp-for="price" class="form-control" />
        <span asp-validation-for="price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="genres" class="control-label"></label>
        <select asp-for="genres" asp-items=@ViewBag.genresList></select>
        <span asp-validation-for="genres" class="text-danger"></span>
    </div>
    <div class="form-group" id="image-url-input">
        <label class="control-label">Game Image</label>
        <input name="newImages" class="form-control-file" type="file" multiple />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
