@model vapor.Models.User

@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Oppppsssssi!!!!!</h1>
<h2>You are not authorized to access this page.</h2>

<a asp-action="Logout">Click here</a> to signin using a different user
