@model vapor.Models.User

@{
    ViewData["Title"] = "Register Developer";
    Layout = "_LoginLayout";
}

<h1>Register a new Developer</h1>


<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form id="register-user">
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" id="register-firstname" name="firstName">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" id="register-lastname" name="lastName">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="User Name" id="register-username" name="Username">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Password" id="register-password" name="Password">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Password Again" id="register-password-again" name="PasswordAgain">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <select class="form-control" name="type" hidden>
                        <option value="1">Developer</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" id="register-email" name="email">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number" id="register-phonenumber" name="phoneNumber">
                </div>
            </div>
            <div class="row">
                <div class="form-group" >
                    <label class="control-label">Developer Avatar</label>
                    <input name="developerAvater" class="form-control-file" type="file" id="register-avatar"/>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" id="register-btn">Register</button>
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error</div>
        }
    </div>
</div>

<div>
    Already registered? <a asp-action="Login">Click here</a> to login
</div>

@section Scripts {
    <script src="~/js/Users/Index.js"></script>
}