@model vapor.Models.User

@{
    ViewData["Title"] = "Register Developer";
}

<h1>Register a new Developer</h1>


<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form id="register-user">
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" id="register-firstname" name="firstName" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" id="register-lastname" name="lastName" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="User Name" id="register-username" name="Username" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" id="register-password" name="Password" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password Again" id="register-password-again" name="PasswordAgain" required>
                </div>
            </div>
            <div class="row">
                <select class="form-control" name="type" hidden required>
                    <option value="1">Developer</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" id="register-email" name="email" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number" id="register-phonenumber" name="phoneNumber" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label">Developer Avatar</label>
                    <input name="developerAvater" class="form-control-file" type="file" id="register-avatar" required />
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" id="register-btn">Register</button>
            </div>
        </form>
        <script type="text/javascript">
            window.onload = function () {
                var txtPassword = document.getElementById("register-password");
                var txtConfirmPassword = document.getElementById("register-password-again");
                txtPassword.onchange = ConfirmPassword;
                txtConfirmPassword.onkeyup = ConfirmPassword;
                function ConfirmPassword() {
                    txtConfirmPassword.setCustomValidity("");
                    if (txtPassword.value != txtConfirmPassword.value) {
                        txtConfirmPassword.setCustomValidity("Passwords do not match.");
                    }
                }
            }
        </script>
        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error</div>
        }
    </div>
</div>

<div>
    Already registered? <a asp-action="Login">Click here</a> to login
</div>

@section Scripts {
    <script src="~/js/Users/DeveloperRegister.js"></script>
}