
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us</h1>

<h1 class="display-1">Vapor</h1>

<h2 class="display-4">The best Place to stay in game</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Who are we?</p>
            <div class="row mb-3">
                <div class="col-6 face-image">
                    <img src="~/Image/Yoav.jpg" class="rounded-circle "/>
                    <h3 class="name">Yoav</h3>
                </div>
                <div class="col-6 face-image">
                    <img src="~/Image/Israel.jpg" class="rounded-circle"/>
                    <h3 class="name">Israel</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-6 face-image">
                    <img src="~/Image/Arad.jpg" class="rounded-circle"/>
                    <h3 class="name">Arad</h3>
                </div>
                <div class="col-6 face-image">
                    <img src="~/Image/Yohai.jpg" class="rounded-circle"/>
                    <h3 class="name">Yohai</h3>
                </div>
            </div>
        </div>
        <div class="col-6 face-image">
            <p>From where do we operate?</p>
            <div id='map' class="w-100 h-75"></div>
        </div>
    </div>
</div>

@section Scripts {
        <script type='text/javascript'>
            function loadMapScenario() {
                $.ajax({
                    url: '/mapcoordinates/all/'
                }).done(function (data) {
                    console.log(data);
                    var map = new Microsoft.Maps.Map(document.getElementById('map'), {
                        center: new Microsoft.Maps.Location(data[0].latitude, data[0].longitude),
                        zoom: 10
                    });
                    $.each(data, function (i, val) {
                        var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(val.latitude, val.longitude), {
                        /*icon: 'https://bingmapsisdk.blob.core.windows.net/isdksamples/defaultPushpin.png',*/
                            icon: "/Image/pushpin-png-27702.png",
                            //icon: image,
                            title: val.name
                        });
                        map.entities.push(pushpin);
                    })
                })
            }
        </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Aq5vZXxazT2FrDYu50TjQ5o_nICB_Ezp9PAtTuUdbxPJfJeGgoRHPoMP9cwCqiT5&callback=loadMapScenario' async defer></script>
<link rel="stylesheet" href="~/css/AboutPage/Index.css" />
}