@model IEnumerable<vapor.Models.Game>

@{
    ViewData["Title"] = "Order details";
}

<h1>order details</h1>
<div>
    <table class="table text-white profile-card" style="margin-bottom:1.5rem;">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Developer</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="embed-responsive embed-responsive-16by9">
                        <img class="card-img card-img-top embed-responsive-item" src=@Url.Action("GetGameImage", "Games", new {gameImageid = item.images.First().id})>
                    </td>
                    <td>@item.name</td>
                    <td>@item.developer.name</td>
                    <td>@item.price</td>
                </tr>
            }
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>@Model.Sum(m => m.price)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-4">
        @if (Model.Count() != 0)
        {
            <a href="/Orders/payment" class="btn btn-primary">To payments</a>
        }
        else
        {
            <a href="/Orders/payment" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">To payments</a>
        }
    </div>
</div>

<div class="mt-2">
    <a class="btn btn-info" asp-action="Index" asp-controller="Games">Back home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
