@model vapor.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <p>@Model.name</p>
    <br />
    <p>@Model.price</p>
</div>

<div class="row">
    <div class="col-4">
        <input type="hidden" value="@Model.id" id="gameid" />
        <button id="confirm" class="btn btn-primary">Are you sure?</button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Orders/Create.js"></script>
}
